version: "3.9"
services:
  web:
    image: shoot88/rtk-frontend-template-dockerfile:0.1
    ports:
      - "3000:3000"
    volumes:
      - ".:/app"
    environment:
      NODE_ENV: development
      HOST: 0.0.0.0
    working_dir: /app
    command: sh -c "cd /app; npm install; npm run dev -- --host 0.0.0.0"
